@font-face {
    font-family:'air';
    src:url('../fonts/airstrip.ttf');
}


.wrapper {
    text-align: center;
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
}
#backImg {
    width:1200px;
}
h1 {
    font-family:'air';
    font-size:55px;
    color:#000;
}
